@import url(https://fonts.googleapis.com/css?family=Fjalla+One);

*{
  padding:0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-size: 10px;
}

body{
  /* width: 100%;
  height: 100vh; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  font-family: "Poppins", sans-serif;
  background-color: rgba(244, 246, 248, .8);
  position: relative;
}

.container{
  position: absolute;
  width: 82%;
  left: 8.5%;
  top:12.5%;
}

h1{
  margin-bottom: 1rem;
  font-size: 5.5rem;
}
h3{
  display: inline-block;
}

.inputSection{
  width: 100%;
  background-color: white;
  padding:2.4rem 2.1rem 2.4rem 2.1rem;
  font-size: 2rem;
  border:1px solid rgba(233,234,235,1);
  border-radius: 4px;
}

.titleInput{
  width:100%;
}

label{
  font-size: 3rem;
  display: block;
  margin-bottom: .7rem;
}

input{
  font-size: 3rem;
  border-radius: 4px;
  padding: .5rem;
  border:1px solid rgba(233,234,235,1);
}

input:focus{
  outline: none;
}
p{
  font-size: 3rem;
}
.nominations, .results{
  box-sizing: border-box;
  border:1px solid rgba(233,234,235,1);
  font-size: 3rem;
  border-radius: 4px;
  background-color: white;
  width: 50%;
}
.nominations{
  width: 40%
}
.results{
  width:60%
}
.nominations > p, .results > p{
  margin-left: 1.5rem;
  margin-top: 1.5rem;
  font-size:
}
.nominations li, .results li{
  border-bottom: 1px solid rgba(233,234,235,1);
  font-size: 1.5rem;
  padding-bottom:1.55rem;
  padding-top: 1.55rem;
  display: flex;
}
.results li{
  flex-direction: column;
}
.nominations li h3, .results li h3{
  font-size: 2rem;
  padding-top: .6rem;
}

button{
  padding:.6rem 1rem .6rem 1rem;
  border:1px solid rgba(233,234,235,1);
  background-color: rgba(244, 246, 248, .8);
  border-radius: 7px;
  font-size: 2rem;
}
button:focus{
  outline: none;
}
.outputContainer{
  width: 100%;
  display: flex;
  flex-flow: wrap;
}

li{
  margin-left: 4rem;
}
.nominations li{
  margin-left: 1rem;
}

.arrow{
  display: inline-block;
  font-size: 1.7rem;
  border-radius: 50%;
  padding: 1rem;
  margin-right: .5rem;
}
.arrow:hover{
  background-color: rgba(244, 246, 248, .7);
  cursor: pointer;
}
button, .arrow:hover{
  cursor:pointer;
}
.nominationsList li{
  display: flex;
  justify-content: space-between;
}
.nominationsList li button{
  margin-right: .5rem;
}
.opacity{
  color: gray;
  rgba(244, 246, 248, .5);
}


.complete{
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 1rem;
  padding-bottom: 2.7rem;
}
.nominationTitle{
  margin-left: .7rem;
}
.nominationHeaderSection{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}
.countdown{
  font-size: 2rem;
  margin-right: .7rem;
}
.submitButton{
  font-size:2.5rem;
  padding: 2.2rem;
  margin-top: 1.7rem;
}
.hidden{
  display: none;
}


/* sliding more info animation */
.movieItem{
  position: relative;
}

.movieHeader{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.movieHeader.active{
  transition: transform 30s ease-in-out;
}

.arrow.active{
  transform:rotate(-180deg);
}
.movieDetails{
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.details{
  padding: 1rem;
  line-height: 1.5rem;
  border-top: 2px solid;
  border-image:linear-gradient(to right, transparent, rgba(233,234,235,1), transparent)1;
}
/* .movieHeader.active + .movieDetails{

} */

.poster{
  width: 42%;
  max-height:
}

.loader{
  width: 100%;
  justify-content: center;
  align-self:center;
  display: none;
}
.loader img{
  width: 37%;
  display: inline-block;
}
.banner{
  background-color: rgb(160,71,43);
  color:rgba(244, 246, 248, .5);
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  z-index: 3;
}
.nothingFound p {
  font-size: 2rem;
  text-align: center;
}
.outputContainer button:hover{
  color: rgba(160,71,43,.7)
}
.outputContainer{
  transition: color 0.5s ease;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5);
}
.thanksDetails{
    width: 375px;
    height: 240px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -150px;
    background-color: rgba(160,71,43,.97);
    border-radius: 5px;
    text-align: center;
    z-index: 11; /* 1px higher than the overlay layer */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.thanksDetails p,.thanksDetails button{
  font-size: 1.3rem;
}
.fa-check-circle{
  font-size: 2rem;
}

.thanksDetails button{
  background-color: rgba(244, 246, 248, .8);
}
.thanksDetails button:focus{
  outline:none;
}
.fa-check-circle{
  color: rgba(244, 246, 248, .8);
}

.results button{
  margin-right: 1.5rem;
}

.hidden{
  display: none;
}

.container{
  margin-top: 8%;
  /* display: none; */
}
